<filepath="bk01.tif" id="bk01" colfmt=0 />
<filepath="bk02.tif" id="bk02" colfmt=0 />
<filepath="bk03.tif" id="bk03" colfmt=0 />
<filepath="bk04.tif" id="bk04" colfmt=0 />
<filepath="bk05.tif" id="bk05" colfmt=0 />
<filepath="bk06.tif" id="bk06" colfmt=0 />
<filepath="bk07.tif" id="bk07" colfmt=0 />
<filepath="bk08.tif" id="bk08" colfmt=0 />
<filepath="bk09.tif" id="bk09" colfmt=0 />
<filepath="bk10.tif" id="bk10" colfmt=0 />
<filepath="bk11.tif" id="bk11" colfmt=0 />
<filepath="bk12.tif" id="bk12" colfmt=0 />
<filepath="bk13.tif" id="bk13" colfmt=0 />
<filepath="bk14.tif" id="bk14" colfmt=0 />
<filepath="bk15.tif" id="bk15" colfmt=0 />
<filepath="bk16.tif" id="bk16" colfmt=0 />
<filepath="bk17.tif" id="bk17" colfmt=0 />
<filepath="bk18.tif" id="bk18" colfmt=0 />
<filepath="bk19.tif" id="bk19" colfmt=0 />
<filepath="bk20.tif" id="bk20" colfmt=0 />
<filepath="bk21.tif" id="bk21" colfmt=0 />
<filepath="bk22.tif" id="bk22" colfmt=0 />
<filepath="bk23.tif" id="bk23" colfmt=0 />
<filepath="bk24.tif" id="bk24" colfmt=0 />
<filepath="bk25.tif" id="bk25" colfmt=0 />
<filepath="bk26.tif" id="bk26" colfmt=0 />
<filepath="bk27.tif" id="bk27" colfmt=0 />
<filepath="bk28.tif" id="bk28" colfmt=0 />
<filepath="bk29.tif" id="bk29" colfmt=0 />
<filepath="bk30.tif" id="bk30" colfmt=0 />
<filepath="bk31.tif" id="bk31" colfmt=0 />
<filepath="bk32.tif" id="bk32" colfmt=0 />
<filepath="bk33.tif" id="bk33" colfmt=0 />
<filepath="bk34.tif" id="bk34" colfmt=0 />
<filepath="bk35.tif" id="bk35" colfmt=0 />
<filepath="bk36.tif" id="bk36" colfmt=0 />
<filepath="bk37.tif" id="bk37" colfmt=0 />
<filepath="bk38.tif" id="bk38" colfmt=0 />
<filepath="bk39.tif" id="bk39" colfmt=0 />
<filepath="bk40.tif" id="bk40" colfmt=0 />
<filepath="bk41.tif" id="bk41" colfmt=0 />
<filepath="bk42.tif" id="bk42" colfmt=0 />
<filepath="bk43.tif" id="bk43" colfmt=0 />
<filepath="bk44.tif" id="bk44" colfmt=0 />
<filepath="bk45.tif" id="bk45" colfmt=0 />
<filepath="bk46.tif" id="bk46" colfmt=0 />
<filepath="bk47.tif" id="bk47" colfmt=0 />
<filepath="bk48.tif" id="bk48" colfmt=0 />
<filepath="bk49.tif" id="bk49" colfmt=0 />
<filepath="bk50.tif" id="bk50" colfmt=0 />
<filepath="bk51.tif" id="bk51" colfmt=0 />
<filepath="bk52.tif" id="bk52" colfmt=0 />
<filepath="bk53.tif" id="bk53" colfmt=0 />
<filepath="bk54.tif" id="bk54" colfmt=0 />